/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

/*  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; */

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  max-width: 70rem;
  margin: 100px auto;
  border-radius: 3px;
  overflow: hidden;
}

.card {
  padding: 4rem 3rem;
}

.card-name {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 95%);
}

.card-icon {
  height: 2.5rem;
  width: auto;
  margin-bottom: 2rem;
}

.card-text {
  margin-bottom: 5rem;
  line-height: 1.5;
  width: 95%;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.2rem;
  font-weight: 400;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.btn:link,
.btn:visited {
  border: 1px solid hsla(0, 0%, 100%, 0.75);
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.75);
  background: none;
  text-decoration: none;
  cursor: pointer;
  width: 66%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sedan:link,
.btn-sedan:visited {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: hsl(31, 77%, 52%);
}

.btn-suv:link,
.btn-suv:visited {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: hsl(184, 100%, 22%);
}

.btn-lux:link,
.btn-lux:visited {
  background-color: hsla(0, 0%, 100%, 0.75);
  color: hsl(179, 100%, 13%);
}

.btn-sedan:hover,
.btn-sedan:active {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(31, 77%, 52%);
  transition: 300ms;
}

.btn-suv:hover,
.btn-suv:active {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(184, 100%, 22%);
  transition: 300ms;
}

.btn-lux:hover,
.btn-lux:active {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(179, 100%, 13%);
  transition: 300ms;
}
